body {
    background-color: #f7f6ec;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.bg-img {
    background-image: url(images/galaxy.png);
    min-height: 900px;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerlogo {
    float: left;
    max-width: 99px;
    display: block;
    padding: 20px 30px 45px;
}

.headerlogo1 {
    float: left;
    max-height: 110px;
    display: block;
    margin-top: 23px;
}
.searchbar {
    float: right;
    display: inline-flex;
    margin-top: 30px;
    padding: 0px 60px 0px 20px;
}

.searchbar_input {
    width: 160px;
    height: 45px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: 2px solid #F8B300;
    border-radius: 50px;
    background-color: transparent;
}

nav,
#hamburger-menu {
    display: none;
}

nav ul {
    margin-left: 50%;
    text-align: center;
    margin-top: 115px;
    padding: 0px;
}

nav li {
    display: block;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    display: block;
}

nav a:hover {
    text-decoration: underline;
}

.current {
    font-weight: bold;
}

i {
    padding: 17px 0px 0 7px;
}

.hamburger-label {
    margin-right: 20px;
    color: white;
    margin-top: 30px;
    width: 168px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    outline: none;
    background-color: #1A1A1A;
    float: right;
}

#hamburger-menu:checked~nav {
    display: flex;
    background: rgba(0, 0, 0, 0.904);
    width: 100%;
    position: absolute;
    margin-top: 110px;
    font-size: 18px;
}

.headerpicture {
    max-width: 100%;
}

hr.new1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #F8B300;
    margin: 1em auto;
}


.centered {
    color: white;
    font-weight: lighter;
    line-height: 1.3;
    font-size: 80px;
    display: block;
    margin-top: -63%;
    padding-left: 20px;
   
}

.undertext {
    color: white;
    font-weight: lighter;
    line-height: 1.3;
    font-size: 30px;
    margin-top: 0%;
    padding-left: 20px;
}

.undertextblue {
    color: #41E3DE;
    text-decoration: none;
}

.site-container {
    margin: 10px auto;
    padding: auto;
}

/* article cards */

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 43px;
    padding: 120px 20px;
}

.article-image1 {
    border-top: 10px solid #41E3DE;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEEDE0;

}

.article-image2 {
    border-top: 10px solid #F8B300;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f6ec;
}

.article-image3 {
    border-top: 10px solid #E341A8;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f6ec;
}

.article-image4 {
    border-top: 10px solid #41E35C;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.article-image1 img,
.article-image2 img,
.article-image3 img,
.article-image4 img {
    width: 100%;
    object-fit: cover;

}

.article-image1 img {
    object-position: 0% 80%;

}

.card-title{
    background-color: #EEEDE0;
}


.article-card {
    background: #EEEDE0;
    transition: 0.3s;
}

.article-card:hover {
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);

}


.article-content {
    text-align: center;
    margin: 0;
    color: #13130d;
}

hr.line{
    width: 70%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #13130d;
    margin: 1em auto;
        }



.learn-more {
    border: none;
    text-decoration: underline;
    color: black;
    cursor: pointer;
    text-align: center;
    outline: none;
    background-color: transparent;
    float: left;
    font-size: 16px;

}

.read-more {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #EEEDE0;
    cursor: pointer;
}

/*museum info container */

.museumcontainer{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
}

.left{
    background: #EEEDE0;
}

.leftcontent{
    object-position: center;
    text-align: center;
    padding: 20% 20%;
}


.right{
    background: blue;
    min-height: 800px;
    background-image: url(images/gallery.jpg);
    background-position: 30% 40%;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.gallery{
    margin-top: 500px;
    position: absolute;

}





@media screen and (max-width: 768px) {
    .site-container {
        margin: 0px auto;
    }

    nav ul {
        margin-left: 40%;
    }

    .article-image1 img {
        object-position: 0% 60%;

    }

    .article-container {
        margin-top: 330px;
        gap: 40px;
    }

    .dropdown-menu,
    .searchbar {
        display: none;
    }

    .headerlogo1 {
        display: none;
    }

    .main-header {
        min-height: 70px;
        position: fixed;
    }

    .headerlogo {
        max-width: 55px;
    }

    .hamburger-label {
        width: 100px;
        height: 34px;
        font-size: 14px;
        margin-top: 17px;
    }

    i {
        padding: 10px 0px 0 7px;
    }

    .centered {
        font-size: 40px;
        margin-top: -500px;
        margin-bottom: 20px;
        text-align: center;
       
    }

    .undertext {
        font-size: 18px;
        padding: 40px 0px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 160px;
    }

    .container-content {
        width: 50%;
    }

    .container-image {
        width: 50%;
    }

    .color-container {
        display: none;
    }

    .headerpicture {
        width: 100%;
        max-height: 500px;
    }

    .headerpicture img {
        object-fit: cover;
    }

    .bg-img {
        
        background-position: 15% 0%;
      
     }

     .museumcontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
     }

     .right{
        position: relative;
        background-image: url(images/gallery.jpg);
        width: 100%;
     }

     



   
}



@media screen and (min-width: 1250px) {
    .site-container {
        max-width: 1176px;
        object-position: center;
    }

    .headerpicture img {
        object-fit: cover;
    }

    
    
}


@media screen and (max-width: 1200px) {
.article-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        padding: 40px;
       
    }
       
    

    .centered, .undertext{
        padding-left: 40px;
    }
}




@media screen and (min-width: 1249px) {
    .centered, .undertext{
        padding: 40px;
    }
       




@media screen and (max-width: 791px) {

    .centered,.undertext {
        padding: 0 40px;
    }
       

}




@media screen and (max-width: 880px) {
    .searchbar{
        display: none;
    }
       

    
}
